In [45]:
T = int(input())

# 여러개의 테스트 케이스가 주어지므로, 각각을 처리합니다.
for test_case in range(1, T + 1):
    
    number = int(input())
    
    year = number // 10000 
    month_day = number - (year * 10000)
    month = month_day // 100
    day = month_day - month * 100
    
    
    if 0 < month <= 12:
        if month == 2:
            if day <= 28:
                print("#%d %.4d/%.2d/%.2d" %(test_case, year, month, day))
            else :
                print(f'#{test_case} -1')
        elif month <= 7:
            if month % 2:
                if day <= 31:
                    print("#%d %.4d/%.2d/%.2d" %(test_case, year, month, day))
                else:
                    print(f'#{test_case} -1')
            else:
                if day <= 31:
                    print("#%d %.4d/%.2d/%.2d" %(test_case, year, month, day))
                else:
                    print(f'#{test_case} -1')
        else:
            if month % 2:
                if day <= 30:
                    print("#%d %.4d/%.2d/%.2d" %(test_case, year, month, day))
                else:
                    print(f'#{test_case} -1')
            else:
                if day <= 31:
                    print("#%d %.4d/%.2d/%.2d" %(test_case, year, month, day))
                else:
                    print(f'#{test_case} -1')
            
    else :
        print(f'#{test_case} -1')

5
22220228
#1 2222/02/28
20150002
#2 -1
01010101
#3 0101/01/01
20140230
-1
11111111
#5 1111/11/11

In [52]:
alpha = input()
alpha_list = list(alpha)

for alpha in alpha_list:
    number = ord(alpha)-64
    print(number, end=' ')

ABCDEFGHIJKLMNOPQRSTUVWXYZ
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26

In [78]:
chr(ord('a')-32)

'A'

In [84]:
line = input()
for i in line:
    
    if ord(i) <= 95:
        i = i
    else:
        i = chr(ord(i)-32)
    
    print(i, end='')

The_headline_is_the_text_indicating_the_nature_of_the_article_below_it.
THE_HEADLINE_IS_THE_TEXT_INDICATING_THE_NATURE_OF_THE_ARTICLE_BELOW_IT.

In [89]:
number = int(input())
for i in range(number):
    print('#', end='')

3
###

In [92]:
x ,y = map(int,input().split())
cnt = 0
for i in range(y,1000):
    if i != x:
        cnt += 1
    else:
        cnt += 1
        print(cnt)
        break

123 100
24

In [ ]:
T =int(input())
for test in range(1,T+1):
    x, y = map(int,input().split())
    
    print("#%d" %test, end=' ')
    
    print(divmod(x, y)[0], divmod(x, y)[1])

In [109]:
for i in range(5):
    for j in range(5):
        if i == j:
            print('#',end='')
        else:
            print('+', end='')
    print('\n')

#++++

+#+++

++#++

+++#+

++++#

In [111]:
def my_add(n):
    if n==1:
        return 1
    else:
        return n + my_add(n-1)
number =int(input())

print(my_add(number))

10

55

In [114]:
a, b = map(int,input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)

8 3
11
5
24
2

In [116]:
number = int(input())
for i in range(1,number+1):
    if number % i:
        continue
    else:
        print(i, end=' ')

10
1 2 5 10

In [117]:
#가위 1 바위 2 보 3
a, b = map(int,input().split())

if a == 1:
    if b == 2:
        print('B')
    elif b == 3:
        print('A')
elif a == 2:
    if b == 1:
        print('B')
    elif b == 3:
        print('A')
elif a == 3:
    if b == 1:
        print('B')
    elif b == 2:
        print('A')

3 2
A

In [119]:
number = int(input())
result = 1
print('1', end=' ')
for i in range(1,number+1):
    result *= 2
    print(result, end=' ')

8
1 2 4 8 16 32 64 128 256

In [120]:
number = int(input())
for i in range(number,-1,-1):
    print(i, end=' ')

8
8 7 6 5 4 3 2 1 0